<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %> &mdash; Jeremy Wagner
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.files.css[chunk].indexOf("global") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "home" && htmlWebpackPlugin.files.css[chunk].indexOf("home") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "blog" && htmlWebpackPlugin.files.css[chunk].indexOf("blog") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "contact") { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "writing") { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "projects") { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="robots" content="<%= htmlWebpackPlugin.options.robots %>">
    <meta name="msvalidate.01" content="809873D08F8A1121D48A5D6CC057EC6C">
    <link rel="dns-prefetch" href="https://polyfill.io/" crossorigin>
    <link rel="preconnect" href="https://polyfill.io/" crossorigin>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.pageUrl %>">
    <meta property="og:type" content="website">
    <meta content="<%= htmlWebpackPlugin.options.pageUrl %>" property="og:url">
    <script>
      document.documentElement.classList.remove("no-js");

      var saveData = typeof navigator.connection !== "undefined" && "saveData" in navigator.connection ? navigator.connection.saveData : false;

      if (!saveData) {
        document.documentElement.classList.add("no-save-data");
      }
    </script>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <%= htmlWebpackPlugin.options.content %>
    <%= htmlWebpackPlugin.options.footer %>
    <script defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    <% for (chunk in htmlWebpackPlugin.files.js) { %>
      <% if (htmlWebpackPlugin.files.js[chunk].indexOf("scripts") !== -1) { %>
        <script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
      <% } %>
    <% } %>
  </body>
</html>
