<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %> &mdash; Jeremy Wagner
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.files.css[chunk].indexOf("global") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "home" && htmlWebpackPlugin.files.css[chunk].indexOf("home") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "blog" && htmlWebpackPlugin.files.css[chunk].indexOf("blog") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "writing" && htmlWebpackPlugin.files.css[chunk].indexOf("subpage") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "writing" && htmlWebpackPlugin.files.css[chunk].indexOf("writing") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "projects" && htmlWebpackPlugin.files.css[chunk].indexOf("subpage") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>

    <% for (chunk in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.options.slug === "projects" && htmlWebpackPlugin.files.css[chunk].indexOf("projects") !== -1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet">
      <% } %>
    <% } %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="robots" content="<%= htmlWebpackPlugin.options.robots %>">
    <meta name="msvalidate.01" content="809873D08F8A1121D48A5D6CC057EC6C">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="dns-prefetch" href="https://polyfill.io/" crossorigin>
    <link rel="preconnect" href="https://polyfill.io/" crossorigin>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.pageUrl %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@malchata">
    <meta property="og:type" content="website">
    <meta content="<%= htmlWebpackPlugin.options.pageUrl %>" property="og:url">
    <meta content="<%= htmlWebpackPlugin.options.pageUrl %>" property="twitter:url">
    <meta name="twitter:title" property="og:title" content="<%= htmlWebpackPlugin.options.title %> &mdash; Jeremy Wagner">
    <meta content="<%= htmlWebpackPlugin.options.description %>" name="twitter:description" property="og:description">
    <meta property="og:image" content="https://jeremy.codes/img/jeremy-thumb.jpg" />
    <meta name="twitter:image" content="https://jeremy.codes/img/jeremy-thumb.jpg" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Jeremy Wagner&apos;s Personal Site and Blog">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#5c2c87">
    <meta name="application-name" content="Jeremy Wagner&apos;s Web Development Blog">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <script>
      document.documentElement.classList.remove("no-js");
      var saveData = typeof navigator.connection !== "undefined" && "saveData" in navigator.connection ? navigator.connection.saveData : false;

      if (!saveData) {
        document.documentElement.classList.add("no-save-data");
      }
    </script>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <%= htmlWebpackPlugin.options.content %>
    <%= htmlWebpackPlugin.options.footer %>
    <script defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    <% for (chunk in htmlWebpackPlugin.files.js) { %>
      <% if (htmlWebpackPlugin.files.js[chunk].indexOf("scripts") !== -1) { %>
        <script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
      <% } %>
    <% } %>
    <script>
      if (window.CSS.registerProperty) {
        CSS.registerProperty({
          name: "--slapdash-tile-size",
          syntax: "<integer>",
          inherits: true,
          initialValue: 64
        });

        CSS.registerProperty({
          name: "--slapdash-color",
          syntax: "<color>",
          inherits: true,
          initialValue: "#e59eff"
        });

        CSS.registerProperty({
          name: "--slapdash-weight",
          syntax: "<integer>",
          inherits: true,
          initialValue: 3
        });

        CSS.registerProperty({
          name: "--slapdash-probability",
          syntax: "<number>",
          inherits: true,
          initialValue: 0.166
        });

        CSS.registerProperty({
          name: "--slapdash-direction",
          syntax: "<integer>",
          inherits: true,
          initialValue: 0
        });

        CSS.registerProperty({
          name: "--slapdash-crosshatch",
          syntax: "<integer>",
          inherits: true,
          initialValue: 1
        });
      }

      if (window.CSS.paintWorklet && (navigator.deviceMemory || 8) >= 4) {
        CSS.paintWorklet.addModule("/js/slapdash.js");
      }
    </script>
  </body>
</html>
