# Caching policy
<IfModule headers_module>
  <FilesMatch "\.(png|jpe?g|gif|svg|webm|ogv|mp4|webp|woff2?|ico|css|m?js)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "public,max-age=31536000"
  </FilesMatch>
  <FilesMatch "\.(png|jpe?g|gif)$">
    Header set Vary "Accept"
  </FilesMatch>
  <FilesMatch "\.(html)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "private,must-revalidate,max-age=3600"
  </FilesMatch>
  <FilesMatch "\.(html|php|xml|txt|svg|css|m?js)$">
    Header set Vary "Accept-Encoding"
  </FilesMatch>
</IfModule>

# Set HSTS
# Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

# WebP rewriting
RewriteEngine On
RewriteCond %{HTTP:Accept} image/webp [NC]
RewriteCond %{HTTP:Content-Disposition} !attachment [NC]
RewriteCond %{DOCUMENT_ROOT}/$1.webp -f [NC]
RewriteRule (.+)\.(png|jpe?g|gif)$ $1.webp [T=image/webp,L]
