:root {
  /* Colors */
  --color1: #b8336a;
  --color2: #ffc09f;
  --color3: #541388;
  --color4: #f7fff7;
  --color5: #131515;
  --color6: #fafafa;

  /* Transparent Color Variants */
  --color1-trans: #b8336a66;
  --color2-trans: #ffc09f66;
  --color3-trans: #54138866;
  --color4-trans: #f7fff766;
  --color5-trans: #13151566;

  /* Fonts */
  --sans: "Poppins", sans-serif;
  --monospace: "Overpass Mono", monospace;

  /* Base Type Sizes */
  --h1: calc(2rem + (2.319 - 2) * ((100vw - 20rem) / (60 - 20)));
  --h2: calc(1.6736401674rem + (2 - 1.6736401674) * ((100vw - 20rem) / (60 - 20)));
  --h3: calc(1.4876079469rem + (1.6736401674 - 1.4876079469) * ((100vw - 20rem) / (60 - 20)));
  --h4: calc(1.2829736497rem + (1.4876079469 - 1.2829736497) * ((100vw - 20rem) / (60 - 20)));
  --p: calc(1.1064887018rem + (1.2829736497 - 1.1064887018) * ((100vw - 20rem) / (60 - 20)));
  --tiny: calc(.796rem + (.926 - .796) * ((100vw - 20rem) / (60 - 20)));
}

@media (min-width: 60em) {
  :root {
    --h1: 2.24841875rem;
    --h2: 1.92779375rem;
    --h3: 1.63248125rem;
    --h4: 1.44233125rem;
    --p: 1.243925rem;
  }
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
u,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
nav,
output,
section,
summary,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: 1ch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: var(--sans);
  background-color: var(--color4);
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
