:root {
  /* Colors */
  --color1: #b8336a;
  --color2: #ffc09f;
  --color3: #541388;
  --color4: #f7fff7;
  --color5: #131515;

  /* Transparent Color Variants */
  --color1-trans: #b8336a66;
  --color2-trans: #ffc09f66;
  --color3-trans: #54138866;
  --color4-trans: #f7fff766;
  --color5-trans: #13151566;

  /* Fonts */
  --sans: "Poppins", sans-serif;
  --monospace: "Overpass Mono", monospace;

  /* Base Type Sizes */
  --h1: calc(2.25rem + (2.968 - 2.25) * ((100vw - 20rem) / (60 - 20)));
  --h2: calc(1.94rem + (2.25 - 1.94) * ((100vw - 20rem) / (60 - 20)));
  --h3: calc(1.674rem + (1.94 - 1.674) * ((100vw - 20rem) / (60 - 20)));
  --h4: calc(1.443rem + (1.674 - 1.443) * ((100vw - 20rem) / (60 - 20)));
  --p: calc(1.245rem + (1.443 - 1.245) * ((100vw - 20rem) / (60 - 20)));
  --tiny: calc(.796rem + (.926 - .796) * ((100vw - 20rem) / (60 - 20)));
}

@media (min-width: 60em) {
  :root {
    --h1: 2.967rem;
    --h2: 2.249675rem;
    --h3: 1.9402125rem;
    --h4: 1.67331875rem;
    --p: 1.4431375rem;
  }
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

sup {
  vertical-align: super;
  font-size: 1ch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: var(--sans);
  background-color: var(--color4);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
