.section {
  position: relative;
  padding: 3.5rem 1rem;
  --lines-tile-size: 64;
  --lines-weight: 2;
  --lines-probability: .5;
  --lines-alpha: .2;
  background-image: url("/img/pattern-black.svg");
  background-size: 16rem 16rem;
  background-image: paint(lines);
}

.section a {
  font-weight: 600;
}

.section:before {
  height: 2.125rem;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--color5-trans);
  display: block;
  position: absolute;
  mix-blend-mode: multiply;
}

.section--intro {
  padding-top: 1.5rem;
  padding-bottom: 0;
  background-color: var(--color3);
  --lines-color: var(--color2);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--intro:before {
  content: none;
}

.section__copy {
  margin: 0 0 1.666ch;
  text-align: center;
}

.section__header {
  display: inline-block;
  padding: .5ch .666ch;
  font-size: var(--h1);
  margin: 0 0 .666ch;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% .25rem, 100% calc(100% - .25rem), 0 100%);
  clip-path: polygon(0 0, 100% .25rem, 100% calc(100% - .25rem), 0 100%);
  box-shadow: inset .166ch 0 0 var(--color5-trans);
}

.section--intro .section__header {
  background-color: var(--color2);
  color: var(--color3);
}

.section__body {
  line-height: 1.618;
  font-size: var(--h4);
  font-weight: 400;
}

.section--intro .section__body {
  color: var(--color4);
}

.section__image {
  display: block;
  width: 66.666%;
  height: auto;
  margin: 0 auto;
}

.section--writing {
  background-color: var(--color4);
  --lines-color: var(--color3);
  --lines-direction: 1;
  background-image: url("/img/pattern-black.svg");
  background-size: 16rem 16rem;
  background-image: paint(lines);
  -webkit-clip-path: polygon(0 0, 100% 1.5rem, 100% calc(100% - 1.5rem), 0 100%);
  clip-path: polygon(0 0, 100% 1.5rem, 100% calc(100% - 1.5rem), 0 100%);
  margin-bottom: -1.5rem;
}

.section--writing:before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--writing a {
  color: var(--color3);
}

.section--writing .section__header {
  background-color: var(--color3);
  box-shadow: inset -.166ch 0 0 var(--color5-trans);
  color: var(--color4);
  -webkit-clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--writing .section__body {
  color: var(--color5);
}

.books {
  background-color: var(--color3);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 83.333%;
  margin: 0 auto;
}

.book__image {
  display: block;
  width: 100%;
  height: auto;
}

.section--speaking {
  padding-bottom: 0;
  background-color: var(--color1);
  --lines-color: var(--color4);
  -webkit-clip-path: polygon(0 1.5rem, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  clip-path: polygon(0 1.5rem, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--speaking:before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 0 calc(100% - .375rem));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 0 calc(100% - .375rem));
}

.section--speaking a {
  color: var(--color4);
}

.section--speaking .section__header {
  background-color: var(--color4);
  color: var(--color1);
}

.section--speaking .section__body {
  color: var(--color4);
}

.section--work {
  background-color: var(--color2);
  --lines-color: var(--color1);
  padding-bottom: 7rem;
  margin-bottom: -6rem;
  -webkit-clip-path: polygon(0 0, 100% 1.5rem, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 1.5rem, 100% 100%, 0 100%);
}

.section--work:before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--work a {
  color: var(--color1);
}

.section--work .section__header {
  background-color: var(--color1);
  box-shadow: .25ch .25ch 0 var(--color1-trans);
  color: var(--color2);
  box-shadow: inset -.166ch 0 0 var(--color5-trans);
  -webkit-clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--work .section__body {
  color: var(--color5);
}

@media (min-width: 40rem) {
  .section__container {
    display: grid;
    grid-column-gap: 2rem;
    align-items: center;
    max-width: 64rem;
    margin: 0 auto;
  }

  .section__copy {
    text-align: left;
    align-self: center;
    margin: 0;
  }

  .section__image {
    margin: 0;
    width: 100%;
  }

  .section--intro .section__image,
  .section--speaking .section__image {
    align-self: flex-end;
  }

  .section--intro .section__container {
    grid-template-columns: 2.016fr minmax(12rem, 1.159fr);
  }

  .section--speaking .section__container {
    grid-template-columns: 2.016fr minmax(22rem, 1.159fr);
  }

  .section--writing .section__container,
  .section--work .section__container {
    grid-template-columns: minmax(12rem, 1.159fr) 2.016fr;
  }

  .section--writing .section__copy,
  .section--work .section__copy {
    order: 1;
    text-align: left;
    margin: 0;
  }

  .books {
    padding: 0;
    grid-gap: .5em;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: transparent;
    box-shadow: none;
    margin: auto;
    width: auto;
  }

  .books a {
    background-color: var(--color3);
    padding: .5em;
    box-shadow: .666ch .666ch 0 var(--color3-trans);
    --lines-direction: 0;
    --lines-color: var(--color4);
    background-image: url("/img/pattern-black.svg");
    background-size: 16rem 16rem;
    background-image: paint(lines);
  }

  .books a:first-child {
    grid-row: 1 / 13;
    grid-column: 1 / 13;
  }

  .books a:last-child {
    grid-row: 9 / 21;
    grid-column: 9 / 21;
  }

  .writing__book {
    position: relative;
    z-index: 2;
    border: .125em solid var(--color3-trans);
  }

  .section--speaking {
    padding-bottom: 0;
  }
}

@media (min-width: 50rem) {
  .books a {
    padding: .625em;
  }

  .books a:first-child {
    grid-row: 1 / 14;
    grid-column: 1 / 14;
  }

  .books a:last-child {
    grid-row: 8 / 21;
    grid-column: 8 / 21;
  }
}

@media (min-width: 60rem) {
  .books a {
    padding: .75em;
  }

  .books a:first-child {
    grid-row: 1 / 15;
    grid-column: 1 / 15;
  }

  .books a:last-child {
    grid-row: 7 / 21;
    grid-column: 7 / 21;
  }
}
