.subpage__intro {
  --lines-tile-size: 64;
  --lines-weight: 2;
  --lines-probability: .25;
  --lines-alpha: .2;
  --lines-color: var(--color2);
  background-color: var(--color1);
  background-image: url("/img/pattern-peach.svg");
  background-size: 16rem 16rem;
  background-image: paint(lines);
  padding: 1.75rem 1rem 4rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2.25rem));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2.25rem));
  position: relative;
  margin: 0 0 1rem;
}

.subpage__intro:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.125rem;
  background-color: var(--color5-trans);
  display: block;
  position: absolute;
  content: "";
  mix-blend-mode: luminosity;
  -webkit-clip-path: polygon(0 0, 100% 66.666%, 100% 100%, 0 calc(100% - 1.5rem));
  clip-path: polygon(0 0, 100% 66.666%, 100% 100%, 0 calc(100% - 1.5rem));
}

.subpage__header,
.subpage__subheader {
  margin: 0 auto;
  max-width: 64rem;
  line-height: 1.319;
  color: var(--color4);
  text-shadow: .126ch .126ch var(--color5);
}

.subpage__header {
  font-size: var(--h1);
  font-weight: 600;
  margin-bottom: .333ch;
}

.subpage__subheader {
  font-size: var(--h4);
  font-weight: 400;
}
