.blog__intro {
  position: relative;
  padding: 2rem .625rem 6rem;
  text-align: center;
}

.blog__intro::before,
.blog__intro::after {
  z-index: -1;
  content: "";
  display: block;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-image: url("/img/pattern-peach.svg");
  background-size: 16rem 16rem;
  background-image: paint(slapdash);
  --slapdash-tile-size: 64;
  --slapdash-weight: 3;
  --slapdash-probability: .33;
  --slapdash-color: var(--peach-more-trans);
}

.blog__intro::after {
  left: 0;
  background-position: 8rem 8rem;
  background-color: var(--magenta);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.blog__intro::before {
  right: 0;
  background-color: var(--purple);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.blog__title {
  font-size: var(--h1);
  margin: 0 0 .666ch;
}

.blog__date {
  font-size: var(--h3);
}

.blog__title,
.blog__date {
  line-height: 1.319;
  font-weight: 600;
  color: var(--white);
}

.blog__content {
  font-size: var(--p);
  width: 100%;
  max-width: 62rem;
  padding: 0 1rem;
  margin: 5ch auto 0;
}

.blog__content h2,
.blog__content h3 {
  margin: 0 0 .666ch;
  position: relative;
  line-height: 1.319;
}

.blog__content h2 {
  font-size: var(--h2);
}

.blog__content h3 {
  font-size: var(--h3);
}

.blog__content h2 a,
.blog__content h3 a {
  text-decoration: none;
  color: var(--purple);
}

.blog__content p,
.blog__content blockquote,
.blog__content ol,
.blog__content table,
.blog__content figure {
  line-height: 1.618;
  font-weight: 400;
  margin: 0 0 2.016ch;
  color: var(--black);
}

.blog__content ol {
  list-style: decimal;
  margin-left: 3rem;
}

.blog__content blockquote {
  font-style: italic;
  margin-left: 3.262ch;
  padding: 0 0 0 1.246ch;
  border-left: .25rem solid var(--magenta);
}

.blog__content .blog__footnote {
  font-style: italic;
  padding: 2.016ch 0 0;
  border-top: .125rem solid var(--magenta);
}

.blog__content p:first-of-type {
  font-size: var(--h4);
}

.blog__content p:nth-last-of-type(2)::after {
  content: "";
  font-size: var(--h4);
  display: inline-block;
  width: 1ch;
  height: 1ch;
  margin: 0 0 0 .666ch;
  background-image: linear-gradient(45deg, var(--purple), var(--magenta));
}

.blog__content code {
  font-family: var(--monospace);
  color: var(--black);
  display: inline-block;
}

.blog__content a {
  color: var(--magenta);
  font-weight: 600;
  text-decoration-color: var(--purple);
}

.blog__content a code {
  text-decoration: inherit;
  text-decoration-color: inherit;
  color: inherit;
}

.blog__content table {
  border: .125rem solid var(--black);
  margin-left: auto;
  margin-right: auto;
}

.blog__content__table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.blog__content td,
.blog__content th {
  padding: .375rem;
  border: .125rem solid var(--black);
  font-family: var(--monospace);
}

.blog__content td {
  text-align: right;
}

.blog__code {
  line-height: 1.618;
  font-weight: 400;
  margin: 0 0 2.016ch;
  background-color: var(--purple);
  border-radius: .25rem;
}

.blog__code pre {
  overflow-x: auto;
  padding: .878ch;
}

.blog__code pre code {
  color: var(--white);
}

.blog__content figure  {
  text-align: center;
}

.blog__content figure img {
  margin: 0 auto 2.016ch;
  display: block;
}

.blog__content figure figcaption {
  font-style: italic;
  font-size: var(--tiny);
}

@media (min-width: 40rem) {
  .blog__intro {
    padding-bottom: 5rem;
  }
}

@media (min-width: 50rem) {
  .blog__intro {
    padding-bottom: 4.5rem;
  }
}
