.contact {
  padding: 0 1rem;
}

.contact__form {
  max-width: 40rem;
  margin: 0 auto 2rem;
}

.contact__form__field-group {
  margin: 0 0 2ch;
}

.contact__form__label {
  font-family: var(--sans);
  color: var(--black);
  display: block;
  margin: 0 0 .666ch;
  font-weight: 600;
}

.contact__form__field {
  width: 100%;
  border-width: .0625rem;
  border-color: var(--black-trans);
  font-size: var(--tiny);
  font-family: var(--sans);
  color: var(--black);
  background-color: var(--off-white);
  display: block;
  padding: .5ch;
  box-shadow: .25ch .25ch 0 var(--black-trans);
  appearance: none;
  border-radius: 0;
}

.contact__form__field:focus {
  outline: .25rem solid var(--magenta);
}

.contact__form__field--textarea {
  min-height: 6rem;
  max-width: 60rem;
}

.contact__form__button {
  background-color: var(--black);
  box-shadow: .25ch .25ch 0 var(--black-trans);
  color: var(--white);
  font-family: var(--sans);
  font-weight: 600;
  font-size: var(--tiny);
  padding: .666ch;
  cursor: pointer;
  appearance: none;
  border: 0;
  border-radius: 0;
}

.contact__form__button:focus {
  outline: .25rem solid var(--magenta);
}

.contact__form__note {
  font-size: var(--tiny);
  color: var(--black);
  margin: 0 0 .666ch;
}
