.section {
  position: relative;
  padding: 3.5rem 1rem;
  --lines-tile-size: 96;
  --lines-weight: 3;
  --lines-probability: .5;
  --lines-alpha: .1;
  background-image: url("/img/pattern-black.svg");
  background-size: 16rem 16rem;
}

.no-save-data .section {
  background-image: paint(lines);
}

.section a {
  font-weight: 600;
}

.section:before {
  height: 2.125rem;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #13151566;
  display: block;
  position: absolute;
  mix-blend-mode: multiply;
}

.section__container {
  max-width: 40rem;
}

.section--intro {
  padding-top: 1.5rem;
  padding-bottom: 0;
  background-color: #541388;
  background-image: url("/img/pattern-peach.svg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--intro:before {
  content: none;
}

.section__copy {
  margin: 0 0 1.666ch;
  text-align: center;
}

.section__header {
  display: inline-block;
  padding: .5ch .666ch;
  font-size: 2.24841875rem;
  margin: 0 0 .666ch;
  font-weight: 600;
  clip-path: polygon(0 0, 100% .25rem, 100% calc(100% - .25rem), 0 100%);
  box-shadow: inset .166ch 0 0 #13151566;
}

.section--intro .section__header {
  background-color: #ffc09f;
  color: #541388;
}

.section__body {
  line-height: 1.618;
  font-size: 1.44233125rem;
}

.section--intro .section__body {
  color: #f7fff7;
}

.section--intro .section__image {
  opacity: 1;
  transition: none;
}

.section__image {
  display: block;
  width: 66.666%;
  height: auto;
  margin: 0 auto;
  opacity: 0.25;
  transition: 2s opacity ease-out;
}

.section--writing {
  background-color: #f7fff7;
  --lines-direction: 1;
  background-image: url("/img/pattern-purple.svg");
  background-size: 16rem 16rem;
  clip-path: polygon(0 0, 100% 1.5rem, 100% calc(100% - 1.5rem), 0 100%);
  margin-bottom: -1.5rem;
}

.section--writing:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--writing a {
  color: #541388;
}

.section--writing .section__header {
  background-color: #541388;
  box-shadow: inset -.166ch 0 0 #13151566;
  color: #f7fff7;
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--writing .section__body {
  color: #131515;
}

.section--writing .section__container {
  text-align: center;
}

.books {
  background-color: #541388;
  padding: 1rem;
  width: 83.333%;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.book__image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.25;
  transition: 2s opacity ease-out;
}

.section__image.yall__loaded,
.book__image.yall__loaded {
  opacity: 1;
}

.section--speaking {
  padding-bottom: 0;
  background-color: #b8336a;
  background-image: url("/img/pattern-white.svg");
  clip-path: polygon(0 1.5rem, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--speaking:before {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 0 calc(100% - .375rem));
}

.section--speaking a {
  color: #f7fff7;
}

.section--speaking .section__header {
  background-color: #f7fff7;
  color: #b8336a;
}

.section--speaking .section__body {
  color: #f7fff7;
}

.section--work {
  background-image: url("/img/pattern-magenta.svg");
  background-color: #ffc09f;
  padding-bottom: 7rem;
  margin-bottom: -6rem;
  clip-path: polygon(0 0, 100% 1.5rem, 100% 100%, 0 100%);
}

.section--work:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--work a {
  color: #b8336a;
}

.section--work .section__header {
  background-color: #b8336a;
  box-shadow: .25ch .25ch 0 #b8336a66;
  color: #ffc09f;
  box-shadow: inset -.166ch 0 0 #13151566;
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--work .section__body {
  color: #131515;
}

.no-js .section__image,
.no-js .book__image {
  opacity: 1;
}

@media (min-width: 40rem) {
  .section__container {
    align-items: center;
    margin: 0 auto;
  }

  .section__copy {
    align-self: center;
  }

  .section__image {
    margin: 0;
    width: 100%;
  }

  .section--intro .section__image,
  .section--speaking .section__image {
    align-self: flex-end;
  }

  .section--writing .section__copy,
  .section--work .section__copy {
    order: 1;
  }

  .books {
    padding: 0;
    background: transparent;
    box-shadow: none;
    margin: auto;
    width: auto;
  }

  .books a {
    background-color: #541388;
    padding: .5em;
    box-shadow: .666ch .666ch 0 #54138866;
  }

  .writing__book {
    position: relative;
    z-index: 2;
    border: .125em solid #54138866;
  }

  .section--speaking {
    padding-bottom: 0;
  }
}

@media (min-width: 50rem) {
  .books a {
    padding: .625em;
  }
}

@media (min-width: 60rem) {
  .books a {
    padding: .75em;
  }
}

@supports (--css: variables) {
  .section:before {
    background-color: var(--color5-trans);
  }

  .section--intro {
    background-color: var(--color3);
    --lines-color: var(--color2);
  }

  .section__header {
    font-size: var(--h1);
    box-shadow: inset .166ch 0 0 var(--color5-trans);
  }

  .section--intro .section__header {
    background-color: var(--color2);
    color: var(--color3);
  }

  .section__body {
    font-size: var(--h4);
  }

  .section--intro .section__body {
    color: var(--color4);
  }

  .section--writing {
    background-color: var(--color4);
    --lines-color: var(--color3);
  }

  .section--writing a {
    color: var(--color3);
  }

  .section--writing .section__header {
    background-color: var(--color3);
    box-shadow: inset -.166ch 0 0 var(--color5-trans);
    color: var(--color4);
  }

  .section--writing .section__body {
    color: var(--color5);
  }

  .books {
    background-color: var(--color3);
  }

  .section--speaking {
    background-color: var(--color1);
    --lines-color: var(--color4);
  }

  .section--speaking a {
    color: var(--color4);
  }

  .section--speaking .section__header {
    background-color: var(--color4);
    color: var(--color1);
  }

  .section--speaking .section__body {
    color: var(--color4);
  }

  .section--work {
    background-color: var(--color2);
    --lines-color: var(--color1);
  }

  .section--work a {
    color: var(--color1);
  }

  .section--work .section__header {
    background-color: var(--color1);
    box-shadow: .25ch .25ch 0 var(--color1-trans);
    color: var(--color2);
    box-shadow: inset -.166ch 0 0 var(--color5-trans);
  }

  .section--work .section__body {
    color: var(--color5);
  }

  @media (min-width: 40rem) {
    .books a {
      background-color: var(--color3);
      box-shadow: .666ch .666ch 0 var(--color3-trans);
    }

    .writing__book {
      border: .125em solid var(--color3-trans);
    }
  }
}

@supports (display: grid) {
  .section__container {
    max-width: 60rem;
  }

  .books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  @media (min-width: 40rem) {
    .section__copy {
      text-align: left;
      margin: 0;
    }

    .section__container {
      display: grid;
      grid-column-gap: 2rem;
    }

    .section--intro .section__container {
      grid-template-columns: 2.016fr minmax(12rem, 1.159fr);
    }

    .section--speaking .section__container {
      grid-template-columns: 2.016fr minmax(22rem, 1.159fr);
    }

    .section--writing .section__container {
      grid-template-columns: 1.159fr 2.016fr;
    }

    .section--work .section__container {
      grid-template-columns: minmax(12rem, 1.159fr) 2.016fr;
    }

    .section--writing .section__copy,
    .section--work .section__copy {
      margin: 0;
    }

    .books {
      padding: 0;
      grid-gap: .5em;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(20, 1fr);
      background: transparent;
      box-shadow: none;
      margin: auto;
      width: auto;
    }

    .books a:first-child {
      grid-row: 1 / 13;
      grid-column: 1 / 13;
    }

    .books a:last-child {
      grid-row: 9 / 21;
      grid-column: 9 / 21;
    }
  }

  @media (min-width: 50rem) {
    .books a:first-child {
      grid-row: 1 / 14;
      grid-column: 1 / 14;
    }

    .books a:last-child {
      grid-row: 8 / 21;
      grid-column: 8 / 21;
    }
  }

  @media (min-width: 60rem) {
    .books a {
      padding: .75em;
    }

    .books a:first-child {
      grid-row: 1 / 15;
      grid-column: 1 / 15;
    }

    .books a:last-child {
      grid-row: 7 / 21;
      grid-column: 7 / 21;
    }
  }
}
