.section {
  position: relative;
  padding: 3.5rem 1rem;
  --slapdash-tile-size: 64;
  --slapdash-weight: 3;
  --slapdash-probability: .33;
  background-image: url("/img/pattern-black.svg");
  background-size: 16rem 16rem;
}

.section a {
  font-weight: 600;
}

.section:before {
  height: 2.125rem;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #13151566;
  display: block;
  position: absolute;
  mix-blend-mode: multiply;
}

.section__container {
  max-width: 40rem;
}

.section--intro {
  padding-top: 1.5rem;
  padding-bottom: 0;
  background-color: #541388;
  background-image: url("/img/pattern-peach.svg");
  background-image: paint(slapdash);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--intro:before {
  content: none;
}

.section__copy {
  margin: 0 0 1.666ch;
  text-align: center;
}

.section__header {
  display: inline-block;
  padding: .5ch .666ch;
  font-size: 2.24841875rem;
  margin: 0 0 .666ch;
  font-weight: 600;
  clip-path: polygon(0 0, 100% .25rem, 100% calc(100% - .25rem), 0 100%);
  box-shadow: inset .166ch 0 0 #13151566;
}

.section--intro .section__header {
  background-color: #ffdbc7;
  color: #541388;
}

.section__body {
  line-height: 1.618;
  font-size: 1.44233125rem;
}

.section--intro .section__body {
  color: #ffdbc7;
}

.section--intro .section__image {
  transition: none;
}

.section__image {
  display: block;
  width: 66.666%;
  height: auto;
  margin: 0 auto;
}

.section--writing {
  background-color: #f7fff7;
  --slapdash-direction: 1;
  background-image: url("/img/pattern-purple.svg");
  background-image: paint(slapdash);
  background-size: 16rem 16rem;
  clip-path: polygon(0 0, 100% 1.5rem, 100% calc(100% - 1.5rem), 0 100%);
  margin-bottom: -1.5rem;
}

.section--writing:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--writing a {
  color: #541388;
}

.section--writing .section__header {
  background-color: #541388;
  box-shadow: inset -.166ch 0 0 #13151566;
  color: #f7fff7;
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--writing .section__body {
  color: #541388;
}

.section--writing .section__container {
  text-align: center;
}

.section--writing .section__image {
  display: block;
  background-color: #541388;
  padding: .5em;
  box-shadow: .666ch .666ch 0 #54138866;
  max-width: 50%;
  margin: 0 auto;
}

.section--speaking {
  padding-bottom: 0;
  background-color: #b8336a;
  background-image: url("/img/pattern-white.svg");
  background-image: paint(slapdash);
  clip-path: polygon(0 1.5rem, 100% 0, 100% 100%, 0 calc(100% - 1.5rem));
  margin-bottom: -1.5rem;
}

.section--speaking:before {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 0 calc(100% - .375rem));
}

.section--speaking a {
  color: #f7fff7;
}

.section--speaking .section__header {
  background-color: #f7fff7;
  color: #b8336a;
}

.section--speaking .section__body {
  color: #f7fff7;
}

.section--work {
  background-image: url("/img/pattern-magenta.svg");
  background-image: paint(slapdash);
  background-color: #ffdbc7;
  padding-bottom: 7rem;
  margin-bottom: -6rem;
  clip-path: polygon(0 0, 100% 1.5rem, 100% 100%, 0 100%);
}

.section--work:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 .15rem);
}

.section--work a {
  color: #b8336a;
}

.section--work .section__header {
  background-color: #b8336a;
  box-shadow: .25ch .25ch 0 #b8336a66;
  color: #ffdbc7;
  box-shadow: inset -.166ch 0 0 #13151566;
  clip-path: polygon(0 .25rem, 100% 0, 100% 100%, 0 calc(100% - .25rem));
}

.section--work .section__body {
  color: #b8336a;
}

@media (min-width: 40rem) {
  .section__container {
    align-items: center;
    margin: 0 auto;
  }

  .section__copy {
    align-self: center;
  }

  .section__image {
    margin: 0;
    width: 100%;
  }

  .section--writing .section__image {
    max-width: 66%;
  }

  .section--intro .section__image,
  .section--speaking .section__image {
    align-self: flex-end;
  }

  .section--writing .section__copy,
  .section--work .section__copy {
    order: 1;
  }

  .section--speaking {
    padding-bottom: 0;
  }
}

@media (min-width: 50rem) {
  .section--writing .section__image {
    padding: .625em;
  }
}

@media (min-width: 60rem) {
  .section--writing .section__image {
    padding: .75em;
  }
}

@supports (--css: variables) {
  .section:before {
    background-color: var(--black-trans);
  }

  .section--intro {
    background-color: var(--purple);
    --slapdash-color: var(--peach-more-trans);
  }

  .section__header {
    font-size: var(--h1);
    box-shadow: inset .166ch 0 0 var(--black-trans);
  }

  .section--intro .section__header {
    background-color: var(--peach);
    color: var(--purple);
  }

  .section__body {
    font-size: var(--h4);
  }

  .section--intro .section__body {
    color: var(--peach);
  }

  .section--writing {
    background-color: var(--white);
    --slapdash-color: var(--purple-more-trans);
  }

  .section--writing a {
    color: var(--purple);
  }

  .section--writing .section__header {
    background-color: var(--purple);
    box-shadow: inset -.166ch 0 0 var(--black-trans);
    color: var(--white);
  }

  .section--writing .section__body {
    color: var(--purple);
  }

  .section--speaking {
    background-color: var(--magenta);
    --slapdash-color: var(--white-more-trans);
  }

  .section--speaking a {
    color: var(--white);
  }

  .section--speaking .section__header {
    background-color: var(--white);
    color: var(--magenta);
  }

  .section--speaking .section__body {
    color: var(--white);
  }

  .section--work {
    background-color: var(--peach);
    --slapdash-color: var(--magenta-more-trans);
  }

  .section--work a {
    color: var(--magenta);
  }

  .section--work .section__header {
    background-color: var(--magenta);
    box-shadow: .25ch .25ch 0 var(--magenta-trans);
    color: var(--peach);
    box-shadow: inset -.166ch 0 0 var(--black-trans);
  }

  .section--work .section__body {
    color: var(--magenta);
  }

  @media (min-width: 40rem) {
    .section--writing .section__image {
      background-color: var(--purple);
      box-shadow: .666ch .666ch 0 var(--purple-trans);
    }
  }
}

@supports (display: grid) {
  .section__container {
    max-width: 60rem;
  }

  @media (min-width: 40rem) {
    .section__copy {
      text-align: left;
      margin: 0;
    }

    .section__container {
      display: grid;
      grid-column-gap: 2rem;
    }

    .section--intro .section__container {
      grid-template-columns: 2.016fr minmax(12rem, 1.159fr);
    }

    .section--speaking .section__container {
      grid-template-columns: 2.016fr minmax(22rem, 1.159fr);
    }

    .section--writing .section__container {
      grid-template-columns: 1.159fr 2.016fr;
    }

    .section--work .section__container {
      grid-template-columns: minmax(12rem, 1.159fr) 2.016fr;
    }

    .section--writing .section__copy,
    .section--work .section__copy {
      margin: 0;
    }
  }
}
