.projects {
  list-style: none;
  max-width: 62rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.projects a {
  color: #b8336a;
  text-decoration-color: #541388;
  font-weight: 600;
}

.projects__category {
  font-size: 1.92779375rem;
  color: #b8336a;
  font-weight: 600;
  line-height: 1.1595;
  position: relative;
  margin: 0 0 .666ch;
}

.projects__category:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -.125rem;
  display: block;
  height: .125rem;
  background-image: linear-gradient(22.5deg, #b8336a, #ffdbc7);
}

.project {
  line-height: 1.319;
  margin: 0 0 1.333ch 1.666%;
}

.project__name {
  font-size: 1.63248125rem;
  font-weight: 600;
  color: #541388;
  margin: 0 0 .333ch;
}

.project__copy,
.project__links {
  font-size: 1.243925rem;
  font-weight: 400;
  color: #131515;
  line-height: 1.618;
}

.project__copy {
  margin: 0 0 .666ch;
}

.project__links {
  font-style: italic;
}

@supports (--css: variables) {
  .projects a {
    color: var(--magenta);
    text-decoration-color: var(--purple);
  }

  .projects__category {
    font-size: var(--h2);
    color: var(--magenta);
  }

  .projects__category:after {
    background-image: linear-gradient(22.5deg, var(--magenta), var(--peach));
  }

  .project__name {
    font-size: var(--h3);
    color: var(--purple);
  }

  .project__copy {
    font-size: var(--p);
    color: var(--black);
  }
}
