* {
  box-sizing: border-box;
}

html,
body,
div,
a,
em,
img,
strong,
ol,
ul,
li,
kbd,
p,
samp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background: var(--backdrop);
  text-shadow: 0 0 0.375rem rgba(122, 199, 255, 0.75);
  font-family: var(--monospace);
  padding: .5rem .25rem;
  font-size: 1rem;
  height: 100vh;
}

body:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  --randots-tilesize: 2;
  --randots-fill-color: var(--text);
  --randots-starting-alpha: .0125;
  --randots-alpha-increment: .00125;
  --randots-starting-probability: .000625;
  --randots-probability-increment: .0025;
  background-image: paint(randots);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 1rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

#term {
  line-height: 1.618;
}

::selection {
  background: var(--accent);
  color: var(--backdrop);
  text-shadow: none;
}

@media screen and (min-width: 32rem) {
  body {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 60rem) {
  body {
    font-size: 1.25rem;
  }
}
