* {
  box-sizing: border-box;
}

html,
body,
div,
a,
em,
img,
strong,
ol,
ul,
li,
kbd,
p,
samp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background: #0d1321;
  text-shadow: 0 0 0.375rem rgba(122, 199, 255, 0.75);
  font-family: "Operator Mono", "Dank Mono", "Consolas", "Courier New", monospace;;
  padding: .5rem .25rem;
  font-size: 1rem;
  height: 100vh;
}

body:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  --randots-tilesize: 2;
  --randots-fill-color: #7ac7ff;
  --randots-starting-alpha: .0125;
  --randots-alpha-increment: .00125;
  --randots-starting-probability: .000625;
  --randots-probability-increment: .0025;
  background-image: paint(randots);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 1rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

#term {
  line-height: 1.618;
}

::selection {
  background: #e56399;
  color: #0d1321;
  text-shadow: none;
}

@media screen and (min-width: 32rem) {
  body {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 60rem) {
  body {
    font-size: 1.25rem;
  }
}

#term {
  position: relative;
  z-index: 2;
}

output {
  display: block;
}

p,
kbd,
h2,
input {
  color: #7ac7ff;
  outline-color: #7ac7ff;
  font-family: "Operator Mono", "Dank Mono", "Consolas", "Courier New", monospace;;
}

h2,
p {
  margin: 0;
  font-size: inherit;
}

h2 {
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

.prompt {
  display: inline;
}

.prompt::after,
.last-command::before {
  content: "\00a0";
  display: inline;
}

#prompt {
  outline: 0;
  background: transparent;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  display: inline;
  width: auto;
  color: transparent;
  text-shadow: 0 0 0 #7ac7ff;
  caret-color: transparent;
}

#prompt::after {
  content: "";
  border-right: .625rem solid #e56399;
  animation: input-cursor 1s infinite;
}

a {
  color: #e56399;
  text-decoration: underline;
  text-shadow: 0 0 0.375rem rgba(299, 99, 153, 0.75);
}

ol,
ul {
  color: #7ac7ff;
}

ol {
  padding-left: 2.0625rem;
}

li {
  font-weight: 400;
}

a:focus,
a:hover {
  background: #e56399;
  text-decoration: none;
  color: #fdfffc;
  outline: 0;
  text-shadow: none;
}

.command {
  color: #fdfffc;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-color: #e56399;
  cursor: pointer;
}

.loading::before {
  animation: spinner .33s infinite;
  content: "|";
}

#prompt.loading::after {
  border-right: 0;
  animation: none;
}

@keyframes spinner {
  0% {
    content: "|";
  }

  25% {
    content: "/";
  }

  50% {
    content: "—";
  }

  75% {
    content: "\\";
  }
}

@keyframes input-cursor {
  0%,
  100% {
    opacity: 0;
  }

  47.5%,
  57.5% {
    opacity: 1;
  }
}

/* JavaScript-less stuff */

.no-js #help-link {
  display: block;
}

#help-link,
.help #help-link,
.no-js .prompt,
.no-js #prompt,
.no-js .hide-no-js {
  display: none;
}
