:root {
  /* Colors */
  --backdrop: #0d1321;
  --text: #7ac7ff;
  --accent: #e56399;
  --white: #fdfffc;
  --blue: #9ef2ff;

  /* Fonts */
  --monospace: "Operator Mono", "Dank Mono", "Consolas", "Courier New", monospace;
}
