.header {
  font-family: var(--monospace);
  color: var(--white);
  padding-top: var(--size-7);
  padding-bottom: var(--size-7);
  border-bottom: var(--size-0) solid var(--cyan);
}

.header__home-link {
  color: var(--orange);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--size-9);
}
