.home-section {
  position: relative;
}

.home-section:first-child::before,
.home-section:first-child::after {
  content: "";
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 20%;
  background: paint(chemistreak);
  z-index: -1;

  --chemistreak-stroke-color: var(--orange);
  --chemistreak-tile-width: 48;
  --chemistreak-stroke-probability: 0.4285714286;
  --chemistreak-stroke-weight: 1.8226728375;
}

.home-section:first-child::before {
  left: 0;
}

.home-section:first-child::after {
  right: 0;
}

.home-section-content h1,
.home-section-content p {
  text-align: center;
}

.home-section:first-child .home-section-grid {
  background: var(--orange);
}

.home-section:first-child .home-section-content .home-section-image {
  display: block;
  margin: 0 auto;
  width: 57.14%;
}

.home-section:first-child .home-section-content + .home-section-image {
  display: none;
}

.home-section-grid {
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
}

@media (min-width: 36rem) {
  .home-section-content h1,
  .home-section-content p {
    text-align: left;
  }

  .home-section-grid:first-child {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-gap: var(--size-9);
    align-items: center;
  }

  .home-section:first-child .home-section-content .home-section-image {
    display: none;
  }

  .home-section:first-child .home-section-content + .home-section-image {
    display: block;
  }
}
