:root {
  /* Colors */
  --black: #050d1e;
  --medium-purple: #9589ff;
  --white: #f4f9ff;

  /* Fonts */
  --monospace: "Cutive Mono", monospace;

  /* Dimensions */
  --max-container-width: 72rem;
}
